* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color:#ecf0f1;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#sound-canvas {
    position: relative;
    background-color: #ecf0f1;
    border: 2px solid #34495e;
    border-radius: 8px;
    height: 300px;
    margin-bottom: 2rem;
    overflow: hidden; /* This will ensure dots don't appear outside the border */
}

.canvas-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* This allows clicks to pass through to the canvas */
}

.sound-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3698db;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%); /* Center the dot on the cursor */
}

#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#symbol-library, #sound-controls {
    width: 48%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
    color: #2c3e50;
}

.symbols {
    display: flex;
    justify-content: space-around;
}

.symbol {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.symbol.active {
    background-color: #e74c3c;
}

.control {
    margin-bottom: 1rem;
}

.control label {
    display: block;
    margin-bottom: 0.5rem;
}

.control input[type="range"] {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #controls {
        flex-direction: column;
    }

    #symbol-library, #sound-controls {
        width: 100%;
        margin-bottom: 1rem;
    }
}